@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4>@ViewData["Professor"]</h4>
<h5>@ViewData["Student"]</h5>


<p>@ViewData["Email"]</p>
<p>Use this area to provide additional information.</p>
