@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h2>@Model.Message</h2>
<h4>@Model.Professor</h4>
<h5>@Model.Student</h5>
<p>
    <strong>Email of Student:</strong> @Model.Email
</p>



